<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>IcEevee</title>
</head>
<body>
  <!-- Top bar -->
  <div>
    <ul class="top-bar">

      <li>
        <font></font>
      </li>

      <li>
        <a href="">
          <font class="iceevee">IcEevee</font>
        </a>
      </li>
    
      <li>
        <a href="#about">
          <font>About</font>
        </a>
      </li>

      <li>
        <a href="#project">
          <font>Project</font>
        </a>
      </li>

      <li class="rightli">
        <font></font>
      </li>

      <li class="rightli">
        <a href="#contact">
          <font>Contact</font>
        </a>
      </li>

    </ul>
  </div>

  <br>
  <section id="about" class="about">
    <h1 class="center">
      About me 关于我
    </h1>
    <p>
      A student 12 (or 13) years old make 
      this website. This website is created 
      to help students do their Nilam easily 
      so that they dont need to find books or
      buy books. Besides, this website also can 
      help students solve math problems.
    </p>
    <p>
      我是一位十二岁（也可以说是十三岁）的<s>小屁孩</s>学生。为了帮助学生们面对需要填写Nilam的问题，我做了这个网站，以他们不需买书或借书。此外，这个网站也可以帮助学生们解决数学问题。
    </p>
  </section>

  <section id="project">
    <h1 class="center">
      Project 作品
    </h1>

    <ol>

      <li>
        <a href="/nilam-cnp">
          <font>NilamCnp（Nilam Copy and Paste）</font>
        </a>
      </li>

      <br><br>

      <li>
        <a href="/book-generator">
          <font>Book Generator（Nilam生成器）</font>
        </a>
      </li>

      <br><br>

      <li>
        <a>
          <font>Updating...（更新中。。。）</font>
        </a>
      </li>

      <br>

    </ol>

    <br>
  </section>

  <br>

  <section id="contact" class="contact">
    <h1 class="center">
      Contact 联系
    </h1>
    <p>
      Discord: IcEevee#1927
    </p>
  </section>

  <br>

  <section>
    <footer class="center">Made by IcEevee's determination</footer>
  </section>

  <br>

</body>
</html>