<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Nilam Cnp</title>
</head>
<body>
  <!-- Top bar -->
  <div>
    <ul class="top-bar">

      <li>
        <font></font>
      </li>

      <li>
        <a href="">
          <font class="iceevee">Nilam Cnp</font>
        </a>
      </li>


      <li class="rightli">
        <font></font>
      </li>

          
      <li class="rightli">
        <a href="/">
          <font>Home</font>
        </a>
      </li>

    </ul>
  </div>

  <br>
  <section class="bluebg">
    <h1 class="center">
      Nilam Cnp
    </h1>

    <p class="center">
        Copy'em out!
    </p>
  </section>

  <br>
  
  <section>
    <table style="width: 100%;">
        <tbody>
        <tr style="font-weight: bold;">
            <td style="width: 25%">Name</td>
            <td style="width: 25%">Author</td>
            <td style="width: 25%">Publisher</td>
            <td style="width: 25%">Publish time</td>
        </tr>

        {% for data in datas %}
        <tr>
            <td>{{ data }}</td>
            <td>{{ datas[data].author }}</td>
            <td>{{ datas[data].publisher }}</td>
            <td>{{ datas[data].publish_time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
  </section>


  <br>

  <section>
    <footer class="center">Made by IcEevee's determination</footer>
  </section>

  <br>

</body>
</html>